<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game1 Dashboard</title>
    <link rel="stylesheet" href="/static/previousDate.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <header><a href="/usersData">BINDAS PLAY</a></header>
        </div>

        <div class="content">
            <form action="/savePreviousdata">
                <div class="form-content">

                    <div class="previous">
                        
                        <div class="gameName">
                            <label for="gameName">Select Game Name:</label>
                            <select id="gameName" name="gameName">
                                <option >Select Type</option>
                                <option value="Game1">Game1</option>
                                <option value="Game2">Game2</option>
                            </select>
                        </div>

                        <div class="date">
                            <label for="date">Date :</label>
                            <input type="date" name="date" id="date">
                        </div>
                    </div>

                    <div class="data">
                        <div>
                            <label for="type">Select Type:</label>
                            <select id="type" name="type">
                                <option >Select Type</option>
                                <option value="open">Open</option>
                                <option value="close">Close</option>
                            </select>
                        </div>
        
                        <div class="firstNum">
                            <label for="firstNum">First Number:</label>
                            <input type="number" name="firstNum" id="firstNum" placeholder="Enter First Number">
                        </div>
        
                        <div class="secondNum">
                            <label for="secondNum">Second Number:</label>
                            <input type="number" name="secondNum" id="secondNum" placeholder="Enter Second Number">
                        </div>
                        <div class="thirdNum">
                            <label for="thirdNum">Third Number:</label>
                            <input type="number" name="thirdNum" id="thirdNum" placeholder="Enter Third Number">
                        </div>
                    </div>
                </div>

                <div class="button">
                    <button type="submit">Submit</button>
                </div>
                
            </form>
        </div>
    </div>

    <script>
        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>
