*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d4d9e7;
}

html{
    font-size: 10px;
}

.container{
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.header{
    padding: 2rem;
    text-align: center;
    width: 100%;
    font-size: 7rem;
    font-weight: 600;
    border-radius: 5px;
    border: 3px solid #4ab6ca;
    -moz-box-shadow: 10px 10px 5px #5b929d;
    -webkit-box-shadow: 10px 10px 5px #5b929d;
    box-shadow: 10px 10px 5px #5b929d;
    
}

.header a{
    color: #0789a0;
    text-decoration: none;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chartHeader{
    margin-top: 2rem;
    background-color: #18a99b;
    text-align: center;
    width: 100%;
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: 400;
    border: 2px solid #fff;
}

.table-header{
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid #fff;
    background-color: #18a99b;
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
}

.chart-table{
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    border-spacing: 0px;
    border-bottom: 1px solid #fff;
    font-size: 1.8rem;
}

.chart-table thead{
    background-color: #18a99b;
}

.chart-table tbody td, .chart-table thead th{
    border: 1px solid #fff;
    font-weight: 600;
}

.bottom-button,.top-button{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.bottom-button button, .top-button button{
    padding: 1rem;
    text-align: center;
    color: #222;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    background-color: #18a99b;
    border: 2px solid #fff;
    font-weight: 600;
}

.refresh-button{
    width: 100%;
    text-align: center;
    border: 2px solid #fff;
    margin-top: 2rem;
    padding: 1rem;
}

.refresh-button h3{
    margin-top: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0a366e;
}

.refresh-button button{
    padding: 1rem;
    text-align: center;
    background-color: rgb(15, 77, 154);
    border: 2px solid rgb(152, 208, 243);
    color: #fff;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 1rem;
}

@media (max-width:685px){
    .chart-table, .table-header{
        width: 80%;
    }
    .chartHeader{
        font-size: 3rem;
    }
}

@media (max-width:560px){
    .chart-table, .table-header{
        width: 100%;
    }
    .container{
        padding: 0.5rem 2px;
    }
    .header{
        font-size: 5rem;
    }
    .chartHeader{
        font-size: 2.5rem;
    }
}


@media (max-width:480px){
    .container{
        padding: 0.5rem 2px;
    }
    .header{
        font-size: 4rem;
    }

    .chartHeader{
        font-size: 2.5rem;
    }
}

@media (max-width:380px){
    .container{
        padding: 0.5rem 2px;
    }

    .header{
        border-radius: 5px;
    }
    
    .refresh-button button{
        font-size: 1.5rem;
    }
}
