html{
    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background:blue;
    padding: 4rem;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 255, 42);
}

.header{
    font-family: system-ui, sans-serif;
    font-weight: bold;
    color: rgb(239, 36, 13);
    font-size: 4.5rem;
}

.ftitle{
          display: flex;
          justify-content: center;
          font-size: 45px;
          font-family: system-ui, sans-serif;
          font-weight: 900;
          color: rgb(239, 36, 13);
          --x-offset: -0.0625em;
          --y-offset: 0.0625em;
          --stroke: 0.025em;
          --background-color: rgb(239, 241, 233);
          --stroke-color: lightblue;
          width: 90%;
  
  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
    }

hr .first{
    border-top: 1px solid #fff;
}
hr .last{
    border-bottom: 1px solid #fff;
}

.subheader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: .5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.subheader-title{
    font-size: 2rem;
    margin-right: 1rem;
    font-weight: bold;
}

.InputDate input{
    width: 50rem;
    height: 3rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    padding: 0rem 1rem;
}

.Btn{
    margin-left: 2rem;
}

.Btn button{
    text-align: center;
    height: 3.2rem;
    border-radius: .5rem;
    outline: none;
    background: blue;
    border-color: blue;
    color: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: .4rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

main{
    background: #fff;
    padding: 4rem 2rem;
}

table{
    width: 100%;
}

thead tr{
    height: 6rem;
    font-size: 3rem;
    font-weight: bold;
}

tbody tr{
    height: 6rem;
}

tbody tr{
    border-bottom: 1px solid grey;
}

tbody tr td{
    text-align: center;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    font-size: 3rem;
}

tbody tr td:last-child{
    border-right: none;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(217, 24, 24);
}

@media (max-width:620px) {
    .container{
        padding: 0.5rem;
    }

    .header{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
    .InputDate input{
        width: 10rem;
        font-size: 1.2rem;
        padding-left: 0rem;
    }
    .Btn button{
        width: 7rem;
        height: 4rem;
        font-size: 1rem;
        margin-left: .5rem;
    
    }
    

    main{
        padding: 4rem 0rem;
        
    }

    thead tr{
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    tbody tr{
        height: 6rem;
    }
    tbody tr td{
        font-size: 2rem;
    }
     
}