html{
    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background:blue;
    padding: 4rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(0, 255, 42);
    border-radius: 1rem;
}

.header{
    font-family: system-ui, sans-serif;
    font-weight: bold;
    color: rgb(239, 36, 13);
    font-size: 4.5rem;
    padding: 2rem;
}

.ftitle{
          display: flex;
          justify-content: center;
          font-size: 45px;
          font-family: system-ui, sans-serif;
          font-weight: 900;
          color: rgb(239, 36, 13);
          --x-offset: -0.0625em;
          --y-offset: 0.0625em;
          --stroke: 0.025em;
          --background-color: rgb(239, 241, 233);
          --stroke-color: lightblue;
          width: 90%;
  
  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
}

main{
    margin-top: 4rem;
}

main .notification{
    width: 100%;
}

.notification textarea{
    width: 80vw;
    height: 30vh;
    border-radius: 1rem;
    padding: 2rem;
}

.Btn button{
    margin-top: 1rem;
    border-radius: .5rem;
    outline: none;
    background: #222;
    border-color: #222;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.status{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin-top: 2rem;
    letter-spacing: 1px;
}

@media (max-width:620px) {
    .container{
        padding: 1rem;
    }
    .header{
        font-size: 2.5rem;
        padding: 2rem;
    }
    .Btn button{
        margin-top: 1rem;
        border-radius: .5rem;
        outline: none;
        background: #222;
        border-color: #222;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
}