html{
    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{  
    background:blue;
    padding: 4rem;
}

.container{
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    padding: 2rem 4rem;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(0, 255, 42);
    border-radius: 1rem;
}

.header{
    font-family: system-ui, sans-serif;
    font-weight: bold;
    color: rgb(239, 36, 13);
    font-size: 4.5rem;
    padding: 1rem 2rem;
    
}

.ftitle{
          display: flex;
          justify-content: center;
          font-size: 45px;
          font-family: system-ui, sans-serif;
          font-weight: 900;
          color: rgb(239, 36, 13);
          --x-offset: -0.0625em;
          --y-offset: 0.0625em;
          --stroke: 0.025em;
          --background-color: rgb(239, 241, 233);
          --stroke-color: lightblue;
          width: 90%;
  
  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
    }


.subheader a{
    padding: .8rem 1rem .8rem 1rem;
    background: blue;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    border-radius: .8rem;
}

.notification{
    height: auto;
    width: 100%;
    font-size: 2.5rem;
    border-radius: 1rem;
    color: rgb(204, 7, 7);
    margin: 3rem 0rem;
    padding: 2rem 2rem;
    background:#efdede;
}

.notice{
    text-align: center;
    color: rgb(204, 7, 7);
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.result a{
    background: orange;
    color: blue;
    border-radius: 0.8rem;
    padding: 1rem 4rem;
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    font-weight: bold;
    width: 50rem;
    text-align: center;
    text-decoration: none;
}

.Btn{
    margin-left: 2rem;
}

.Btn button{
    text-align: center;
    height: 3.2rem;
    border-radius: .5rem;
    outline: none;
    background: blue;
    border-color: blue;
    color: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: .4rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

main{
    width: 50rem;
    background: rgb(131 142 144);;
    padding: 4rem 2rem;
    border-radius: .8rem;
}

main .form{
    width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-header{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2.5rem;
}

.email .label,.pass .label{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

.email .input,.pass .input{
    width: 42rem;
    border-radius: .5rem;
    height: 3.5rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.saveBtn{
    height: 5rem;
    border-radius: .5rem;
    font-size: 2rem;
    padding:0.5rem 1rem;
    background:rgb(128, 120, 243);
    outline: none;
    border: 1px solid rgb(128, 120, 243);
    font-weight: bold;
    letter-spacing: 1px;
    width: 10rem;
    padding-bottom: .5rem;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.disclaimer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(184, 178, 178);
    padding: 2rem 3rem;
    border-radius:0.5rem;
    text-align: center;
    margin: 0rem 2rem;
    margin-top: 2rem;
}

.disclaimer-header{
    width: 100%;
    font-size: 3.2rem;
    font-weight: bold;
    background: rgb(91, 91, 244);
    padding: 1rem;
    border-radius: .8rem;
    margin-bottom: 2rem;
}

.content{
    font-size: 2rem;
    color: #222;
}



@media (max-width:620px) {

    .container{
        padding: 0.5rem;
    }

    body{
        padding: 0.5rem 0.5rem;
    }
    header{
        height: 13rem;
        flex-direction: column; 
    }
    .header{
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
    .subheader a{
       margin-bottom: 3rem;
       font-size: 1.5rem;
       padding: 0.5rem 3rem;
    }

    .notification{
        font-size: 2rem;
        border-radius: 1rem;
        margin: 3rem 0rem;
        padding: 2rem 1rem;
    }
    main{
        width: 33rem;
        padding: 4rem 2rem;
    }

    .notice{
        font-size: 2.5rem;
    }

    .result{
        margin-top: 1.5rem;
    }
    
    .result a{
        width: 30rem;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    main .form{
        width: 30rem;
        flex-direction: column;
    }
    
    .form-header{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 2.5rem;
    }
    
    .email .label,.pass .label{
        font-size: 1.2rem;
        color: #fff;
        margin-bottom: 1rem;
    }
    
    .email .input,.pass .input{
        width: 27rem;
        border-radius: .5rem;
        height: 3.5rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
    }
    

    .saveBtn{
        font-size: 1.5rem;
    }

    .disclaimer{
        padding: 2rem 3rem;
        border-radius:0.5rem;
        text-align: center;
        margin: 0rem 0.6rem;
        margin-top: 2rem;
    }
    
}